/* FONT STACKS */
$ff-main: 'Cairo', sans-serif;
$ff-header: 'Annie Use Your Telescope', cursive;

.spelrummet {
    font-family: $ff-h2;
}

.player-container {
    font-family: $ff-main;
}

#game-grid {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}

.coffee {
    position: absolute;
    margin: 1rem;
    width: 2rem;
    top: 0px;
    left: 0px;
}